<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Viv's stylesheet/s -->
    <link rel="stylesheet" type="text/css" href="variables/variables.css">

    <title>{{ title }}</title>
  </head>

  <body>
    <!--<header>
      <h1>Resume</h1>
    </header>-->
    <nav>
      <a href="index.html">Resume |</a>
      <a href="blog.html">Blog |</a>
      <a href="gallery.html">Gallery |</a>
      <a href="contact.html">Contact Viv |</a>
    </nav>
    {{ body }}
  </body>
</html>
